services:
  backend:
    container_name: beerdegu_backend
    build: ./backend
    stdin_open: true
    tty: true
    volumes:
      - ./backend:/app/backend
    env_file:
      - env/backend.env
    links:
      - redis_db
    ports:
      - "8000:8000"

  frontend:
    container_name: beerdegu_frontend
    build: ./frontend
    volumes:
      - ./frontend:/app/frontend
      - node-modules:/app/frontend/node_modules
    env_file:
      - env/frontend.env
    ports:
      - "3000:3000"

  postgres_db:
    container_name: beerdegu_postgres_db
    image: postgres:14.0-alpine
    env_file:
      - env/postgres.env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis_db:
    container_name: beerdegu_redis_db
    image: redis:alpine
    env_file:
      - env/redis.env
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"

  django_q:
    container_name: beerdegu_django_q
    build: ./backend
    env_file:
      - env/backend.env
    volumes:
      - ./backend:/app/backend
    depends_on:
      - backend
      - redis_db
    entrypoint: ["sh", "-c", "python manage.py qcluster"]

volumes:
  postgres-data:
  redis-data:
  node-modules:
