[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-stubs-ext = "*"
djangorestframework-stubs = "*"
django-extensions = "*"
drf-extra-fields = "*"
django-filter = "*"
django-ordered-model = "*"
django-sesame = "*"
pillow = "*"
dj-rest-auth = "*"
django-allauth = "*"
djangorestframework-simplejwt = "*"
django-import-export = "*"
channels = "*"
channels-redis = "*"
redis = "*"
django-q2 = "*"
python-dotenv = "*"
psycopg2 = "*"
dj-database-url = "*"
whitenoise = "*"
daphne = "*"
gunicorn = "*"
openpyxl = "*"
drf-spectacular = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]
coverage = "*"
freezegun = "*"

[requires]
python_version = "3.10"
