.App {

}

.App-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .App-title {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 8vmin;
  }
}

.App-button-group {
  button {
    margin: 10px;
    width: 25vmin;
  }
}

.App-logo {
  height: 18vmin;
  pointer-events: none;
  margin: 20px;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-wrapper {
    animation: App-logo-animation infinite 1.5s ease-out alternate;
  }
}

@keyframes App-logo-animation {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1.02);
  }
}
