.sidebar {
  width: 250px;

  .logo-wrapper {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 15px;

    .logo {
      height: 50px;
      margin-right: 20px;
    }

    .title {
      font-size: 26px;
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }
  }
}

// Sidebar chat on mobiles - drawer from the right
.sidebar-chat {
  position: relative;
  height: 100vh;

  .sidebar-chat-messages {
    padding: 0;
    margin: 0;

    height: calc(100vh - 56px);
    overflow-y: scroll;
    overflow-wrap: break-word;

    font-size: 18px;

    .chat-message {
      display: inline-block;
      padding: 3px 5px;
    }
  }

  .sidebar-chat-input {
    display: flex;

    .input-field {
      flex-grow: 1;
    }
  }
}
