/*
 room-chat:
  - desktop-chat-messages
  - desktop-chat-input
*/

.desktop-chat-messages {
  position: absolute;
  top: 0;
  left: 0;

  height: calc(100vh - 136px);
  overflow-y: scroll;
  overflow-wrap: break-word;

  .chat-message {
    display: inline-block;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.desktop-chat-input {
  position: absolute;
  bottom: 0;
  left: 0;

  border-top: 1px solid black;
  width: 100%;
  display: flex;

  .input-field {
    flex-grow: 1;
  }
}
