.form-textfield-wrapper {
  display: flex;
  justify-content: center;

  .MuiTextField-root {
    margin: 8px;
    width: 50%;
  }
}


@media screen and (max-width: 767px) {
  .form-textfield-wrapper .MuiTextField-root {
    width: 90%;
  }
}
