.results-stepper {
  flex-grow: 1;

  .results-stepper-header {
    text-align: center;
  }
}

.results-pdf-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;

  button {
    font-weight: 600;
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .results-pdf-button {
    justify-content: center;
  }
}
