.PageNotFound {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .text {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 8vmin;
  }

  .image {
    height: 18vmin;
    pointer-events: none;
    padding-top: 3vmin;
    margin: 20px;
  }
}


