.room {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;

  // when using component as route
  &.room-route {
    padding-bottom: 100px;
    min-height: calc(100vh - 300px);
  }

  // when embedding component
  &.room-embedded {
    padding: 50px 20px;
  }

  .room-icon {
    margin: 8px;
    background-color: cornflowerblue;
  }

  .room-alert {

  }

  .room-form {
    width: 100%;
    margin-top: 8px;
  }

  .room-button {
    margin: 24px 0 16px;
  }
}
