.room {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;

  // raise it by 100px up
  padding-bottom: 100px;

  min-height: 100vh;

  .room-icon {
    margin: 8px;
    background-color: cornflowerblue;
  }

  .room-alert {

  }

  .room-form {
    width: 100%;
    margin-top: 8px;
  }

  .room-button {
    margin: 24px 0 16px;
  }
}
