$header-height: 64px;

.room-body {
  padding-top: calc(#{$header-height} - 2px);
}

.room-chat {
  position: fixed;
  right: 0;
  top: $header-height;

  min-height: calc(100vh - 64px);
  width: 100%;

  border-left: 1px solid black;
}
