.auth {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;

  padding-bottom: 100px;
  min-height: calc(100vh - 300px);

  .auth-icon {
    margin: 8px;
    background: #757de8;
  }

  .auth-form {
    width: 100%;
    margin-top: 8px;
  }

  .auth-button {
    margin: 24px 0 16px;
  }
}
